#about {
    height: 92vh;
}


/*
*
* Breakpoints media queries
*
*/

.switchers {
    display: none;
}

.card-col {
    position: static;
}

@media screen and (max-width: 768px) {
    .heading-container {
        height: 50%;
    }

    .about-heading {
        font-size: em(40);
        font-weight: $light;

        margin-top: em(50, 40);
        margin-bottom: em(40, 40);

        span {
            font-weight: $bold;
            text-transform: uppercase;

            color: $main-highligh-color;
        }
    }

    .about-heading-holder {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .button-holder {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .learn-more-btn {
        font-size: em(20);
        font-weight: $bold;

        color: $main-highligh-color;

        padding: em(10, 20) em(20, 20);


        background-color: unset;
        border: em(4, 20) solid $main-highligh-color;
        border-radius: em(61, 20);

        transition: color .5s ease-out;
        transition: background-color .5s ease-out;

        &:hover,
        &:focus {
            background-color: $main-highligh-color;
            color: $main-font-color;
        }
    }

    .cards-container {
        min-height: 50%;
        position: relative;
    }

    .card-col {
        position: absolute;
        bottom: 5%;
        left: 50%;

        transform: translateX(-50%);

        transition: all .5s ease-in-out;
    }

    .card {
        background-color: $cards-bg;

        margin: 0 auto;

        padding: em(30) em(20);

        width: 80%;
        height: em(350);

        border-radius: em(6);
    }

    .card-title {
        font-size: em(30);
        font-weight: $bold;

        color: $sub-highlight-color;

        margin-bottom: em(30, 30);
        padding-bottom: em(15, 30);

        border-bottom: em(1, 30) solid $sub-font-color;
    }

    .card-desc {
        font-size: em(15);
        font-weight: $light;

        color: $sub-font-color;

        padding: 0 em(15, 15);
    }

    .ui-card-col {
        opacity: 1;
    }

    .frontend-card-col,
    .logo-card-col {
        opacity: 0;
    }

    .switchers {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        position: absolute;
        z-index: 2;

        bottom: 80px;

    }

    .swicth {
        width: em(26);
        height: em(26);

        background-color: white;
        border: em(4) solid white;
        border-radius: 50%;

        margin: 0 em(20);
    }

    .switch-active {
        background-color: $sub-highlight-color;
    }
}

@media screen and (min-width: 768px) {}