/*
*
* Generals
*
*/


#about {
    height: 100vh;
}


.switchers {
    display: none;
}

.card-col {
    position: static;
}


/*
*
* Breakpoints media queries
*
*/

@media screen and (max-width: 768px) {

    // Heading
    .heading-container {
        height: 50%;
    }

    .about-heading {
        font-size: em(40);
        font-weight: $light;

        margin-top: em(50, 40);
        margin-bottom: em(40, 40);

        span {
            font-weight: $regular;
            text-transform: uppercase;

            color: $main-highligh-color;
        }
    }

    .about-heading-holder {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    // Button
    .button-holder {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .learn-more-btn {
        font-size: em(18);
        font-weight: $regular;

        color: $main-highligh-color;

        padding: em(6, 18) em(18, 18);


        background-color: unset;
        border: em(3.5, 18) solid $main-highligh-color;
        border-radius: em(61, 18);

        transition: color .5s ease-out;
        transition: background-color .5s ease-out;

        &:hover,
        &:focus {
            background-color: $main-highligh-color;
            color: $main-font-color;
        }
    }

    // Cards
    .cards-container {
        min-height: 50%;
        position: relative;
    }

    .card-col {
        position: absolute;
        bottom: 0;
        left: 50%;

        transform: translateX(-50%);

        transition: all .5s ease-in-out;
    }

    .card {
        background-color: $cards-bg;

        margin: 0 auto;

        padding: em(30) em(20);

        width: 80%;
        height: em(350);

        border-radius: em(6);
    }

    .card-title {
        font-size: em(30);
        font-weight: $bold;

        color: $sub-highlight-color;

        margin-bottom: em(30, 30);
        padding-bottom: em(15, 30);

        border-bottom: em(1, 30) solid $sub-font-color;
    }

    .card-desc {
        font-size: em(15);
        font-weight: $light;

        color: $sub-font-color;

        padding: 0 em(15, 15);
    }

    .ui-card-col {
        opacity: 1;
    }

    .frontend-card-col,
    .logo-card-col {
        opacity: 0;
    }

    // Switchers
    .switchers {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        position: absolute;
        z-index: 2;

        bottom: 40px;

    }

    .swicth {
        width: em(26);
        height: em(26);

        background-color: white;
        border: em(4) solid white;
        border-radius: 50%;

        margin: 0 em(20);
    }

    .switch-active {
        background-color: $sub-highlight-color;
    }
}

@media screen and (min-width: 768px) {

    // Heading
    .heading-container {
        height: 30%;
    }

    .about-heading-holder {
        border-right: em(2) solid $line-color;
        padding-right: 0;

        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
    }

    .about-heading {
        font-size: em(45);
        font-weight: $light;

        text-align: right;

        padding-right: em(20, 45);
        border-right: em(3, 45) solid $main-highligh-color;

        span {
            font-weight: $regular;
            text-transform: uppercase;

            color: $main-highligh-color;
        }
    }

    // Button
    .button-holder {
        border-right: em(2) solid $line-color;

        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        align-items: center;
    }

    .learn-more-btn {
        font-size: em(22);
        font-weight: $regular;

        color: $main-highligh-color;

        padding: em(6, 22) em(18, 22);
        margin-bottom: em(30, 22);

        background-color: unset;

        border: em(3, 22) solid $main-highligh-color;
        border-radius: em(61, 22);

        transition: color .5s ease-out;
        transition: background-color .5s ease-out;

        &:hover,
        &:focus {
            background-color: $main-highligh-color;
            color: $main-font-color;
        }
    }

    // Cards
    .cards-container {
        height: 70%;
        border-right: em(2) solid $line-color;

        align-items: center;
    }

    .card {
        background-color: $cards-bg;

        text-align: center;

        margin: 0 auto;

        padding: em(30) em(20);

        height: em(350);

        border-radius: em(6);
    }

    .card-title {
        font-size: em(30);
        font-weight: $bold;

        color: $sub-highlight-color;

        margin-bottom: em(30, 30);
        padding-bottom: em(15, 30);

        border-bottom: em(1, 30) solid $sub-font-color;
    }

    .card-desc {
        font-size: em(15);
        font-weight: $light;

        color: $sub-font-color;

        padding: 0 em(15, 15);
    }
}