.asteroid-0 {
    width: em(300);
    height: auto;

    position: absolute;
    z-index: -5;
    top: 2%;
    left: 10%;

    //animation: asteroidOne 20s infinite;
}

.asteroid-1 {
    width: em(500);
    height: auto;

    position: absolute;
    z-index: -5;
    top: 10%;
    right: 2%;

    //animation: asteroidOne 20s infinite;
}

.asteroid-2 {
    width: em(350);
    height: auto;

    transform: rotate(27%);

    position: absolute;
    z-index: -5;
    top: 20%;
    left: 15%;

    //animation: asteroidTwo 20s infinite;
}

.asteroid-3 {
    width: em(400);
    height: auto;

    transform: rotate(43%);

    position: absolute;
    z-index: -2;
    top: 40%;
    right: 5%;

    //animation: asteroidTwo 20s infinite;
}

.asteroid-4 {
    width: em(300);
    height: auto;

    transform: rotate(150%);

    position: absolute;
    z-index: -5;
    top: 65%;
    left: 28%;

    //animation: asteroidTwo 20s infinite;
}

/* 
.asteroid-5 {
    width: em(450);
    height: auto;

    transform: rotate(60%);

    position: absolute;
    z-index: -5;
    top: 200%;
    left: 60%;

    //animation: asteroidTwo 20s infinite;
}

.asteroid-6 {
    width: em(300);
    height: auto;

    transform: rotate(268%);

    position: absolute;
    z-index: -3;
    top: 270%;
    left: 20%;

    //animation: asteroidTwo 20s infinite;
} */

.asteroid-7 {
    width: em(500);
    height: auto;

    transform: rotate(39%);

    position: absolute;
    z-index: -2;
    top: 80%;
    left: 15%;

    //animation: asteroidTwo 20s infinite;
}


.rocket {
    position: absolute;
    z-index: -1;

    top: 35%;
    right: 20%;

    transform: translateX(-70%);
    transform: rotateZ(-15deg);

    width: em(400);
    height: auto;

    opacity: .8;
}

.astronaut {
    position: absolute;
    z-index: -1;

    top: 91%;
    right: 10%;

    transform: translateX(-70%);
    transform: rotateZ(-15deg);

    width: em(330);
    height: auto;
}

@media screen and (max-width: 991px) {

    .asteroid-0,
    .asteroid-2,
    .asteroid-4,
    .asteroid-7 {
        display: none;
    }

    .asteroid-3 {
        left: em(-30);
    }

    .rocket {
        left: em(-160);
        top: 62%;
    }

    .astronaut {
        width: em(250);
        top: 101%;
    }
}