/*
*
* Asteroids
*
*/

.asteroid-0 {
    width: em(300);
    height: auto;

    position: absolute;
    z-index: -5;
    top: 2%;
    left: 10%;

    //animation: asteroidOne 20s infinite;
}

.asteroid-1 {
    width: em(500);
    height: auto;

    position: absolute;
    z-index: -5;
    top: 10%;
    right: 2%;

    //animation: asteroidOne 20s infinite;
}

.asteroid-2 {
    width: em(350);
    height: auto;

    transform: rotate(27%);

    position: absolute;
    z-index: -5;
    top: 20%;
    left: 15%;

    //animation: asteroidTwo 20s infinite;
}

.asteroid-3 {
    width: em(400);
    height: auto;

    transform: rotate(43%);

    position: absolute;
    z-index: -2;
    top: 40%;
    right: 5%;

    //animation: asteroidTwo 20s infinite;
}

.astronaut {
    width: em(300);
    height: auto;

    transform: rotate(150%);

    position: absolute;
    z-index: -5;
    top: 62%;
    left: 12%;

    opacity: .6;

    //animation: asteroidTwo 20s infinite;
}


.asteroid-7 {
    width: em(500);
    height: auto;

    transform: rotate(39%);

    position: absolute;
    z-index: -2;
    top: 80%;
    left: 15%;

    //animation: asteroidTwo 20s infinite;
}


/*
*
* Rocket
*
*/

.rocket {
    position: absolute;
    z-index: -1;

    top: 35%;
    right: 20%;

    transform: translateX(-70%);
    transform: rotateZ(-15deg);

    width: em(400);
    height: auto;

    opacity: .5;
}


/*
*
* BG things for mobile
*
*/

@media screen and (max-width: 991px) {

    .asteroid-0,
    .asteroid-2,
    .asteroid-3,
    .asteroid-4,
    .astronaut {
        display: none;
    }

    .asteroid-7 {
        top: 367vh;
        left: em(-50);
        width: em(380);
    }

    .rocket {
        left: em(-160);
        top: 70%;
    }
}