#contact {
    height: 100vh;
    overflow: hidden;
}

@media screen and (max-width: 991px) {
    .contact-heading-container {
        height: 40%;

        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }


    .form-container {
        height: 60%;
    }

    .contact-heading {
        font-size: em(35);
        font-weight: $light;

        margin-top: em(40, 35);

        span {
            font-weight: $regular;
            text-transform: uppercase;

            color: $main-highligh-color;
        }
    }

    .main-contact {
        background-color: rgba($cards-bg, .7);

        width: 90%;

        margin: 0 auto;

        padding-top: em(20);

        border-radius: em(6);
    }

    .form-heading {
        font-size: em(30);
        font-weight: $bold;

        text-transform: uppercase;

        color: $sub-highlight-color;
    }

    #name,
    #email,
    #subject,
    #message {
        background-color: lighten($cards-bg, 10%);
        border: none;


        color: $main-font-color;

        &:focus {
            border: 1px solid $sub-highlight-color;
            box-shadow: none;
            outline: none;
        }

        &::placeholder {
            color: $main-font-color;
            font-weight: $bold;

            font-size: em(14);
        }
    }

    .send {
        background-color: unset;
        border: unset;
        outline: unset;

        font-size: em(16);
        font-weight: $regular;

        color: $sub-highlight-color;

        margin-top: em(20, 16);

        border: em(2, 16) solid $sub-highlight-color;
        border-radius: em(30, 16);
        padding: em(6, 16) em(22, 16);

        transition: color .5s ease-out;
        transition: background-color .5s ease-out;

        &:hover,
        &:focus {
            background-color: $sub-highlight-color;
            color: $main-font-color;
        }
    }


    .diff-contact {
        display: none;
    }
}





@media screen and (min-width: 992px) {

    .contact-heading-container,
    .form-container {
        border-right: em(2) solid $line-color;
    }

    .form-container {
        height: 70%;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        text-align: center;
    }

    .contact-heading-holder {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .contact-heading {
        font-size: em(55);
        font-weight: $light;
        margin: auto;

        padding-left: em(30, 55);
        padding-bottom: em(10, 55);

        border-left: em(3, 55) solid $main-highligh-color;

        span {
            font-weight: $regular;
            text-transform: uppercase;

            color: $main-highligh-color;
        }
    }


    .main-contact,
    .diff-contact {
        background-color: rgba($cards-bg, .4);

        height: 80%;

        margin: 0 auto;

        border-radius: em(6);

        padding: em(20) em(40);

        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .form-heading {
        font-size: em(30);
        font-weight: $bold;

        text-transform: uppercase;

        color: $sub-highlight-color;
    }

    #name,
    #email,
    #subject,
    #message {
        background-color: lighten($cards-bg, 10%);
        border: none;

        font-size: em(16);
        color: $main-font-color;

        padding: em(6, 16) em(10, 16);

        &:focus {
            border: 1px solid $sub-highlight-color;
            box-shadow: none;
            outline: none;
        }

        &::placeholder {
            color: $main-font-color;
            font-weight: $regular;

            font-size: em(14);
        }
    }

    .send {
        background-color: unset;
        border: unset;
        outline: unset;

        font-size: em(16);
        font-weight: $regular;

        color: $sub-highlight-color;

        margin: auto;

        border: em(3, 16) solid $sub-highlight-color;
        border-radius: em(30, 16);
        padding: em(6, 16) em(40, 16);

        transition: color .5s ease-out;
        transition: background-color .5s ease-out;

        &:hover,
        &:focus {
            background-color: $sub-highlight-color;
            color: $main-font-color;
        }
    }

    .diff-contact {
        padding: 0;

        display: block;
    }

    .diff-row {
        height: 100%;
    }

    .map-holder {
        width: 85%;
        height: 40%;

        margin: em(20) auto 0;

        border-radius: em(5);
        border: em(1) solid $sub-highlight-color;

        background-image: url('../img/mapa-contact.svg');
        background-size: cover;
        background-position: center center;
    }

    .personal {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;

        width: 100%;

        font-size: em(22);

        transition: all 350ms ease-in-out;

        a:hover,
        a:focus {
            color: $main-font-color;
            text-decoration: underline;
        }
    }

    .socials {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        width: 100%;

        img {
            width: em(35);
            height: auto;

            margin: 0 em(20);
        }
    }
}