/*
*
* Generals
*
*/

#landing {
    height: 100vh;
}

.scroll-circle {
    animation: circleScrollAnim 1.3s infinite alternate-reverse;
}


@keyframes circleScrollAnim {
    to {
        transform: translateY(50px);
    }
}

/* 
.home-heading {
    font-size: clamp(35px, 5vw, 70px);
}

.introduction {
    font-size: clamp(30px, 2vw, 50px);

    small {
        font-size: clamp(18, 1.4vw, 28px);
    }
}

 */

/*
*
* Breakpoints media queries
*
*/



@media screen and (max-width: 991px) {
    .content {
        height: 92vh;

        text-align: center;
    }

    .content-container {
        height: 100%;
    }

    .main-content {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;

    }


    .home-heading {
        font-size: em(35);
        font-weight: $light;

        transform: translateY(50px);

        span {
            font-weight: $regular;
            text-transform: uppercase;

            color: $main-highligh-color;
        }
    }

    .introduction {
        font-size: em(30);
        font-weight: $regular;

        line-height: em(25, 30);

        transform: translateY(50px);

        small {
            font-size: em(18, 30);
            font-weight: $light;

            color: $sub-font-color;
        }
    }

    .side-content {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .scroll-badge {
        width: 30px;
        height: auto;
    }

    .scroll-text {
        font-size: em(20);
        font-weight: $light;

        letter-spacing: em(4, 20);

        transform: rotate(90deg);
    }
}

@media screen and (min-width: 600px) {
    .home-heading {
        font-size: em(45);
    }
}

@media screen and (min-width: 992px) {
    .home-main-content {
        padding: 0;

        text-align: right;

        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: flex-end;
    }

    .home-heading {
        font-size: em(40);
        font-weight: $light;

        padding-right: em(25, 50);

        border-right: em(3, 50) solid $main-highligh-color;

        span {
            font-weight: $regular;
            text-transform: uppercase;

            color: $main-highligh-color;
        }
    }

    .introduction {
        font-size: em(25);
        font-weight: $regular;

        line-height: em(30, 25);

        padding-right: em(25, 25);

        small {
            font-size: em(16, 25);
            font-weight: $light;

            color: $sub-font-color;
        }
    }

    .home-side-content {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .scroll-badge {
        width: 45px;
        height: auto;

        margin-bottom: em(100);
    }

    .scroll-text {
        font-size: em(25);
        font-weight: $light;

        letter-spacing: em(4, 25);

        transform: rotate(90deg);
    }
}

@media screen and (min-width: 1100px) {
    .home-heading {
        font-size: em(45);
    }

    .introduction {
        font-size: em(30);

        small {
            font-size: em(20, 30);
        }
    }
}

@media screen and (min-width: 1350px) {
    .home-heading {
        font-size: em(55);
    }

    .introduction {
        font-size: em(40);

        small {
            font-size: em(24, 40);
        }
    }
}

@media screen and (min-width: 1800px) {
    .home-heading {
        font-size: em(70);
    }

    .introduction {
        font-size: em(50);

        small {
            font-size: em(28, 50);
        }
    }

    .scroll-badge {
        width: 55px;
        height: auto;

        margin-bottom: em(120);
    }

    .scroll-text {
        font-size: em(30);
        font-weight: $light;

        letter-spacing: em(4, 30);

        transform: rotate(90deg);
    }
}