/*
*
* MENU
*
*/


.nav-mobile {
    display: none;
}


.navigation {
    display: none;
}




@media screen and (max-width: 768px) {
    .nav-container {
        height: 10vh;
        width: 100%;

        padding: 0 em(20);

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        background-color: $bg-color;

        position: fixed;
        z-index: 10;

        border: none;
        outline: none;
    }

    .logo {
        width: 60px;
        height: auto;
    }

    .nav-mobile {
        display: flex;
        align-items: center;
    }

    .menu-button {
        font-size: em(14);

        font-weight: $light;
        color: $main-highligh-color;

        border: em(2, 14) solid $main-highligh-color;
        border-radius: em(20, 14);

        padding: em(2, 14) em(10, 14);

        transition: color .5s ease-out;
        transition: background-color .5s ease-out;

        &:hover,
        &:focus {
            background-color: $main-highligh-color;
            color: $main-font-color;
        }
    }

    .ham {
        cursor: pointer;
        transition: transform 400ms;
        user-select: none;
    }

    .hamRotate.active {
        transform: rotate(45deg);
    }

    .hamRotate180.active {
        transform: rotate(180deg);
    }

    .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: white;
        stroke-width: 5;
        stroke-linecap: round;
    }

    .ham1 .top {
        stroke-dasharray: 40 139;
    }

    .ham1 .bottom {
        stroke-dasharray: 40 180;
    }

    .ham1.active .top {
        stroke-dashoffset: -98px;
    }

    .ham1.active .bottom {
        stroke-dashoffset: -138px;
    }
}

@media screen and (min-width: 768px) {
    .nav-container {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;

        height: 100%;

        width: 16%;
        position: fixed;
    }

    .logo {
        width: 110px;
        height: auto;
    }

    .navigation {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    .nav-links {
        font-size: em(35);
        font-weight: $light;

        padding: em(15, 35) 0;
        padding-right: em(15, 35);
        border-right: em(2, 35) solid $line-color;

        &:hover,
        &:focus {
            border-right: em(3, 35) solid $main-highligh-color;
        }

        a:hover,
        a:focus {
            color: $main-font-color;
        }
    }

    .active {
        border-right: em(3, 35) solid $main-highligh-color;
    }
}