/*
    *
    * Colors
    *
**/

//font 
$main-font-color: #ffffff;
$sub-font-color: #DBDBDB;

$main-highligh-color: #00FF66;
$sub-highlight-color: #0DFFF7;

$line-color: #7D7C82;
$cards-bg: #7A7883;
$form-imputs-color: #B2AEC2;

$bg-color: #444349;

$slider-bg: #202020;

/*
    *
    * Fonts
    *
**/

$main-font:'Poppins',
sans-serif;

$light: 300;
$regular: 400;
$bold: 700;

$browser-context: 16;