#work {
    height: 100vh;
}

/*
*
* Breakpoints media queries
*
*/

.site-placeholder {
    background-image: url('../img/web-showcase.jpg');
    background-size: cover;
    background-position: center top;

    width: 100%;
    height: 40%;

    border: em(2) solid $sub-highlight-color;
}

@media screen and (max-width: 991px) {
    .work-side-content {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .work-main-content {
        height: 65%;
    }

    .work-side-content {
        height: 35%;

        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .site-container {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        height: 50%;
    }

    .work-heading {
        font-size: em(35);
        font-weight: $light;

        span {
            font-weight: $regular;
            text-transform: uppercase;

            color: $main-highligh-color;
        }
    }

    .discover-button {
        font-size: em(18);
        font-weight: $regular;

        color: $main-highligh-color;

        padding: em(6, 18) em(18, 18);
        margin-bottom: em(40, 18);

        background-color: unset;
        border: em(3, 18) solid $main-highligh-color;
        border-radius: em(61, 18);

        transition: color .5s ease-out;
        transition: background-color .5s ease-out;

        &:hover,
        &:focus {
            background-color: $main-highligh-color;
            color: $main-font-color;
        }
    }


    .site-desc {
        font-size: em(30);
        font-weight: $bold;

        line-height: em(20, 30);

        color: $sub-highlight-color;

        small {
            font-size: em(16, 30);
            font-weight: $light;

            color: $sub-font-color;
        }
    }

    .website-button {
        font-size: em(14);
        font-weight: $regular;

        color: $sub-highlight-color;

        padding: em(5, 14) em(15, 14);

        background-color: unset;
        border: em(2, 14) solid $sub-highlight-color;
        border-radius: em(8, 14);

        transition: color .5s ease-out;
        transition: background-color .5s ease-out;

        &:hover,
        &:focus {
            background-color: $sub-highlight-color;
            color: $main-font-color;
        }
    }

}

@media screen and (min-width: 500px) {
    .site-placeholder {
        width: 80%;
        height: 50%;
    }
}

@media screen and (min-width: 650px) {
    .work-heading {
        font-size: em(40);
    }
}

@media screen and (min-width: 800px) {
    .work-heading {
        font-size: em(50);
    }

    .site-placeholder {
        width: 70%;
        height: 60%;
    }
}

@media screen and (min-width: 992px) {
    .work-main-content {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: flex-end;

        padding: 0;

        text-align: right;
    }

    .work-heading {
        font-size: em(55);
        font-weight: $light;

        padding-right: em(25, 55);

        border-right: em(3, 55) solid $main-highligh-color;

        span {
            font-weight: $regular;
            text-transform: uppercase;

            color: $main-highligh-color;
        }
    }

    .work-side-content {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
    }

    .discover-button {
        font-size: em(22);
        font-weight: $regular;

        color: $main-highligh-color;

        padding: em(6, 22) em(18, 22);
        margin-top: em(40, 22);


        background-color: unset;
        border: em(3, 22) solid $main-highligh-color;
        border-radius: em(61, 22);

        transition: color .5s ease-out;
        transition: background-color .5s ease-out;

        &:hover,
        &:focus {
            background-color: $main-highligh-color;
            color: $main-font-color;
        }
    }

    .site-container {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;

        height: 30%;
    }

    .site-placeholder {
        width: 100%;
        height: 50%;
    }


    .site-desc {
        font-size: em(40);
        font-weight: $bold;

        text-align: center;

        line-height: em(22, 40);

        color: $sub-highlight-color;



        small {
            font-size: em(20, 40);
            font-weight: $light;

            color: $sub-font-color;
        }
    }

    .website-button {
        font-size: em(16);
        font-weight: $regular;

        color: $sub-highlight-color;

        padding: em(5, 16) em(15, 16);

        background-color: unset;
        border: em(2, 16) solid $sub-highlight-color;
        border-radius: em(8, 16);

        transition: color .5s ease-out;
        transition: background-color .5s ease-out;

        &:hover,
        &:focus {
            background-color: $sub-highlight-color;
            color: $main-font-color;
        }
    }
}

@media screen and (min-width: 1350px) {
    .discover-button {
        font-size: em(28);
    }
}

@media screen and (min-width: 1500px) {
    .work-heading {
        font-size: em(65);
    }

    .site-desc {
        font-size: em(50);

        line-height: em(25, 50);

        small {
            font-size: em(20, 50);
        }
    }
}

@media screen and (min-width: 1650px) {
    .site-placeholder {
        width: 90%;
        height: 45%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1900px) {
    .work-heading {
        font-size: em(75);
    }

    .discover-button {
        font-size: em(32);
    }

    .site-desc {
        font-size: em(60);

        line-height: em(30, 60);

        small {
            font-size: em(30, 60);
        }
    }

    .website-button {
        font-size: em(22);
    }
}